 *
 {
     padding: 0px;
     margin: 0px;
 }
 
 button
 {
     text-decoration: none;
     color: white;
 }

 body
 {
     font-family: Arial;
     background-color: green;
     background-size: 100%;
     background-repeat: no-repeat;
     background-size: cover;
 }

 ul
 {
     list-style: none;
 }

 img
 {
     width: 40px;
 }

 input[type="checkbox"]
 {
     display: none;
 }

 nav
 {
    background-color: rgba(16, 16, 16,.5);
    width: 350px;
    height: 100%;
    left: -350px;
    background-size: cover;
    position: absolute;
    transition: all .5s;
 }

input[type="checkbox"]:checked ~ nav
{
    transform: translateX(350px);
}
 ul
 {
     top: 70px;
     position: absolute;
     width: 100%;
 }

 p
 {
     font-family: arial;
     font-size: 40pt;
     text-align: center;
     color: white;
 }

 button
 {
     display: block;
     width: 350px;
     text-align: center;
     padding: 12px 5px;
     color: black;
 }

 button:hover
 {
     background-color: rgb(84, 218, 135);
     color: black;
 }

 label
 {
     padding: 15px;
     position: absolute;
     z-index: 1;
 }